/* BANNER CSS */
.banner {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('/images/graybackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.subHeading {
	width: 40%;
	text-align: center;
	line-break: normal;
}
.heading {
	font-size: 5rem;
	margin-bottom: 0.6em;
	text-transform: uppercase;
}
.subHeading {
	margin-bottom: 2em;
	font-size: 1.3rem;
	font-weight: normal;
}
.scrollGif {
	width: 10%;
	position: absolute;
	bottom: 0;
}

/* SIDE SOCIALS CSS */
#sideSocials {
	position: fixed;
	width: 4em;
	height: 15em;
	top: 35%;
	left: 0;
	border-radius: 5px;
	background-color: var(--color-primary);
	box-shadow: 0px 0px 15px gray;
}
#sideSocials li {
	margin-top: 1.8em;
}
#sideSocials img {
	margin-left: 0.7em;
	width: 60%;
}
