@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ID:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
	--primary-font: 'Madimi One';
	--logo-font: 'Playwrite ID';
	--secondary-font: 'Didact Gothic';
	--color-primary: #fff;
	--color-secondary: #aaa;
	--color-tertiary: #000;
	--color-highlight: gray;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--secondary-font);
	text-decoration: none;
	list-style-type: none;
	color: var(--color-tertiary);
}

*::-webkit-scrollbar {
	display: none;
}

.primaryButton {
	padding: 1.6em 5em;
	border-radius: 5px;
	background-color: blueviolet;
	color: var(--color-primary);
	text-transform: uppercase;
	font-weight: 900;

	&:hover {
		cursor: pointer;
		background-color: var(--color-tertiary);
		transform: translateY(-5px);
		transition: ease-in-out 300ms;
	}
}

/* NAV STYLE */
nav {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0.8em 4em;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.2rem;
	background-color: var(--color-primary);
}
.navLeft,
.navRight {
	width: 50%;
	display: flex;
	align-items: center;
}
.navRight ul {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.navRight ul li {
	margin-left: 3em;
}
#myImage {
	flex: 1;
}
#myName {
	flex: 9;
}
#myImage img {
	width: 80%;
	border-radius: 50%;
}
