@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ID:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
	--primary-font: 'Madimi One';
	--logo-font: 'Playwrite ID';
	--secondary-font: 'Didact Gothic';
	--color-primary: #fff;
	--color-secondary: #f8f8f8;
	--color-tertiary: #000;
	--color-highlight: rgb(75, 75, 75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--secondary-font);
	text-decoration: none;
	list-style-type: none;
	color: var(--color-tertiary);
}

*::-webkit-scrollbar {
	display: none;
}
h1 {
	text-transform: uppercase;
}

.primaryButton {
	padding: 1.6em 5em;
	border-radius: 5px;
	background-color: blueviolet;
	color: var(--color-primary);
	text-transform: uppercase;
	font-weight: 900;
	border: none;

	&:hover {
		cursor: pointer;
		background-color: var(--color-tertiary);
		transform: translateY(-5px);
		transition: ease-in-out 300ms;
	}
}
.small {
	display: inline-block;
	margin: 1em 0;
	padding: 1em 3em;
	font-size: 1rem;
}

/* NAV STYLE */
nav {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0.8em 4em;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.2rem;
	background-color: var(--color-primary);
}
.navLeft,
.navRight {
	width: 50%;
	display: flex;
	align-items: center;
}
.navRight ul {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.navRight ul li {
	margin-left: 3em;
}
#myImage {
	flex: 1;
}
#myName {
	flex: 9;
}
#myImage img {
	width: 80%;
	border-radius: 50%;
}

/* CONTAINER CSS */
.container {
	width: 70%;
	margin: 0 auto;
	padding: 5em 0;
}
section:nth-of-type(even) {
	background-color: var(--color-secondary);
}

/* FOOTER CSS */
footer {
	background-color: var(--color-tertiary);
}
footer * {
	color: var(--color-primary);
}
.ft {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em 3em;
}
.footerHeading {
	margin-bottom: 1em;
}
.footerLeft p {
	font-size: 1.1rem;
	word-break: break-word;
}
.footerRight ul {
	display: flex;
}
.footerRight img {
	width: 20%;
	filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(185deg)
		brightness(110%) contrast(108%);
}
.trademark {
	border-top: 0.1px solid rgb(255, 255, 255, 0.25);
	text-align: center;
	grid-column: span 2;
	padding-top: 2em;
}
